body {
  /* background: url("../src/assets/pictures/backbody.jpg");
  background-size: 300px; */
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
  /* height: 100px; */
}
main {
  background: url("../src/assets/pictures/backbody.jpg");
  background-size: 300px;
}

.container {
  margin: 0 auto;
  /* border: 1px solid red; */
  height: fit-content;
  width: 1230px;
}

header {
  background-color: #010010;
  /* box-shadow: 0px 0px 10px; */
}

.logoContainer,
.sideButtons {
  flex: 1;
  /* border: 1px solid cyan; */
}
.title {
  flex: 3;
  text-align: center;
  /* border: 1px solid cyan; */
}

h1 {
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: -webkit-linear-gradient(
    rgb(248, 211, 110),
    goldenrod,
    rgb(210, 121, 6)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  text-shadow: rgba(207, 115, 3, 0.4) 1px 0 10px;
}

header img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.borderBottomHeader {
  width: 100%;
  height: 5px;
  background: linear-gradient(to left, #fa7b02, #ffd342, #fa7b02);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.sideButtons {
  display: flex;
  /* gap: 20px; */
  justify-content: flex-end;
  /* border: 1px solid cyan; */
}
.sideButtonsBorder {
  border-radius: 50px;
  /* border: 1px solid yellow; */
  background: linear-gradient(
    45deg,
    goldenrod,
    rgb(241, 214, 146),
    goldenrod,
    rgb(148, 107, 3),
    rgb(218, 144, 32),
    goldenrod,
    rgb(223, 196, 128),
    goldenrod
  );
  padding: 2px;
}
.sideButtonsBorder > div {
  display: flex;
  gap: 20px;
  /* border: 1px solid red; */
  padding: 10px 15px;
  border-radius: 50px;
  background-color: #010010;
}

.options {
  height: fit-content;
  width: fit-content;
}
.options:hover {
  cursor: pointer;
}
.gearIcon {
  color: goldenrod;
  font-size: 20px;
}

main .container {
  border-left: 5px solid goldenrod;
  border-right: 5px solid goldenrod;
  box-sizing: content-box;
}

.infobar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 80px;
  /* border: 1px solid orange; */
  /* padding: 10px 0px; */
  background: url("../src/assets/pictures/infoback.jpg");
  background-size: 100px;
  border-bottom: 4px solid goldenrod;
}

.leftInfoBar,
.countdownContainer,
.rightInfoBar {
  flex: 1;
}

.countdownContainer {
  /* height: 60px; */
  /* width: 100px; */
  /* background-color: azure; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.countdownBorder {
  padding: 10px 20px;
  width: 120px;
  /* background-color: #010010; */
  background: radial-gradient(#0b092d, #010010);
  color: goldenrod;
  border: 3px solid goldenrod;
  position: relative;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.7);
  text-align: center;
}
.corners {
  position: absolute;
  height: 10px;
  width: 10px;
  z-index: 1;
  /* transform: rotate(45deg); */
  background-color: goldenrod;
}
.tl {
  top: -7px;
  left: -7px;
}
.tr {
  top: -7px;
  right: -7px;
}
.bl {
  bottom: -7px;
  left: -7px;
}
.br {
  bottom: -7px;
  right: -7px;
}

.leftInfoBar {
  clip-path: polygon(0 0, 100% 0%, 92% 50%, 100% 100%, 0% 100%);
  background: linear-gradient(
    45deg,
    goldenrod,
    rgb(241, 214, 146),
    goldenrod,
    rgb(148, 107, 3),
    rgb(218, 144, 32),
    goldenrod,
    rgb(223, 196, 128),
    goldenrod
  );
  height: 70%;
  position: relative;
}

.infoContainer {
  /* background-color: #00507b; */
  background: linear-gradient(
    45deg,
    #00507b,
    #1a7bae,
    #00507b,
    #033d5c,
    #00357b,
    #00507b,
    #4b91b8,
    #00507b
  );
  /* padding: 10px 20px; */
  height: 85%;
  width: 97%;
  top: 4px;
  left: 0px;
  position: absolute;
  clip-path: polygon(0 0, 100% 0%, 93% 50%, 100% 100%, 0% 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-weight: bold; */
  color: goldenrod;
}

.rightInfoBar {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 8% 50%);
  background: linear-gradient(
    45deg,
    goldenrod,
    rgb(241, 214, 146),
    goldenrod,
    rgb(148, 107, 3),
    rgb(218, 144, 32),
    goldenrod,
    rgb(223, 196, 128),
    goldenrod
  );
  height: 70%;
  position: relative;
}

.gamingArea {
  /* border: 1px solid green; */
  width: 100%;
  height: 630px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url("../src//assets//pictures/backgamingarea.jpg");
  background-size: 300px;
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 2px;
  gap: 2px; */
}

.red {
  color: red;
}

.restartButton {
  /* background-color: #00507b; */
  background: linear-gradient(
    45deg,
    #00507b,
    #1a7bae,
    #00507b,
    #033d5c,
    #00357b,
    #00507b,
    #4b91b8,
    #00507b
  );
  /* padding: 10px 20px; */
  height: 85%;
  width: 97%;
  top: 4px;
  right: 0px;
  position: absolute;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 7% 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: goldenrod;
}
.restartButton:hover {
  cursor: pointer;
  background: linear-gradient(
    45deg,
    #007b1b,
    #1aae21,
    #007b12,
    #155c03,
    #007b0e,
    #007b08,
    #56b84b,
    #007b00
  );
}

.endGameModal {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgb(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.endingMessage {
  width: 400px;
  height: 500px;
  /* background-color: white; */
  background: url("../src/assets/pictures/scroll.png") center no-repeat;
  background-size: 380px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* box-shadow: 0 0 20px rgb(0, 0, 0); */
  padding: 110px 60px;
}
.endingMessage p {
  text-align: center;
  margin-bottom: 20px;
}
.endingMessage img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  mix-blend-mode: darken;
}
.retry {
  width: 60%;
  text-align: center;
  line-height: 25px;
}

.optionsContainer {
  width: 400px;
  height: 500px;
  /* background-color: white; */
  background: url("../src/assets/pictures/scroll.png") center no-repeat;
  background-size: 380px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* box-shadow: 0 0 20px rgb(0, 0, 0); */
  /* border: 1px solid yellow; */
  padding: 100px 60px;
  color: rgba(43, 24, 2, 0.737);
  text-align: center;
}
.endGameModal .closing {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  /* width: 100%; */
  font-weight: bold;
  height: 20px;
  width: 30px;
  border-radius: 10px;
  padding-top: 2px;
  background-color: rgba(43, 24, 2, 0.737);
  color: #e7c790;
  margin-bottom: 20px;
}
.endGameModal .closing :hover {
  cursor: pointer;
}
.rulesContainer > p,
.optionsContainer > p {
  font-weight: bold;
  /* margin-bottom: 20px; */
}
form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}
.inputButton {
  /* width: 25%; */
  height: 30px;
  border-radius: 0px;
  clip-path: polygon(100% 0, 92% 50%, 100% 100%, 0% 100%, 8% 50%, 0% 0%);
  border: 3px solid goldenrod;
  background: linear-gradient(
    45deg,
    #00507b,
    #1a7bae,
    #00507b,
    #033d5c,
    #00357b,
    #00507b,
    #4b91b8,
    #00507b
  );
  color: goldenrod;
  font-family: "MedievalSharp", cursive;
  font-weight: bold;
}
.inputButton:hover {
  background: linear-gradient(
    45deg,
    #007b1b,
    #1aae21,
    #007b12,
    #155c03,
    #007b0e,
    #007b08,
    #56b84b,
    #007b00
  );
  cursor: pointer;
}
form > div {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 10px;
  width: 100%;
  /* border: 1px solid red; */
}
form > div > p {
  flex: 1;
}
form > div > input {
  flex: 4;
}
form span {
  font-weight: bold;
}

.rulesContainer {
  width: 400px;
  height: 500px;
  /* background-color: white; */
  background: url("../src/assets/pictures/scroll.png") center no-repeat;
  background-size: 380px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* box-shadow: 0 0 20px rgb(0, 0, 0); */
  /* border: 1px solid yellow; */
  padding: 100px 60px;
  color: rgba(43, 24, 2, 0.737);
  text-align: center;
}
.separationLine {
  height: 2px;
  /* width: 80%; */
  background-color: rgb(114, 80, 40);
  margin-top: 17px;
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
}
.separationLine .corners {
  transform: rotate(45deg);
  background-color: rgb(114, 80, 40);
}
.left {
  left: -5px;
  top: -4px;
}
.right {
  right: -5px;
  top: -4px;
}
.slidingContainer {
  height: 210px;
  width: 100%;
  margin-top: 20px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  scrollbar-width: thin;
  scrollbar-color: rgba(43, 24, 2, 0.5) rgba(43, 24, 2, 0);
}
/* ::-webkit-scrollbar {
  display: none;
} */

.slidingContainer span {
  font-weight: bold;
}
h2 {
  margin: 10px 0px;
}

footer {
  /* background: url("../src/assets/pictures/infoback.jpg");
  background-size: 100px; */
  background-color: #010010;
  /* height: 80vh; */
  height: 120px;
  display: flex;
  flex-direction: column;
  color: goldenrod;
  font-family: "Protest Strike", sans-serif;
  text-align: center;
}
footer p {
  font-weight: 400;
  font-style: normal;
  background: -webkit-linear-gradient(
    rgb(248, 211, 110),
    goldenrod,
    rgb(210, 121, 6)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: rgba(207, 115, 3, 0.4) 1px 0 10px;
  margin-bottom: 20px;
}

.borderTopFooter {
  width: 100%;
  height: 5px;
  background: linear-gradient(to left, #fa7b02, #ffd342, #fa7b02);
  margin-bottom: 20px;
}

footer img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.logosContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
